/*首页头部*/
/*头部*/
header {
	width: 100%;
	height: 720px;
}
header .top {
	width: 100%;
	height: 97px;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	z-index: 999;
}
header .top .top01 {
	width: 1100px;
	margin: 0 auto;
	background-color: rgba(255,0,255,1);
}
header .top .top01 h1 {
	line-height: 97px;
	float: left;
	padding-right: 100px;
}
header .top .top01 nav ul {
	width: 720px;
	height: 97px;
	float: left;
	line-height: 97px;
}
header .top .top01 nav ul li {
	width: 90px;
	float: left;
	color: rgba(255,255,255,1);
	list-style: none;
}
header .top .top01 nav ul li a {
	color: rgba(255,255,255,1);
	text-decoration: none;
}
header .top .top01 nav ul li a:hover {
	color: #ccb144;
}
header .top .ss {
	line-height: 117px;
	float: left;
}
.banner{width:100%;height:720px;position: relative;z-index:1;overflow: hidden;}
.slideBox{ width:1920px; height:720px;  position:relative;left: 50%;margin-left: -960px;text-align: center;}
/*.slideBox .hd{height:18px; overflow:hidden; position:absolute;bottom:5px;z-index:100; text-align: center;right: 10px;display: none;}
.slideBox .hd ul{ overflow:hidden; zoom:1; }
.slideBox .hd ul li{ float:left; margin:0 4px;width:18px; height:18px;line-height:18px;background:url(../images/hdli.jpg) no-repeat; cursor:pointer;color: #f5dc8c;font-family: "宋体"; }
.slideBox .hd ul li.on{  background:url(../images/hdlih.jpg) no-repeat;}*/
.slideBox .bd{ position:relative; height:100%; z-index:10; }
.slideBox .bd li{ zoom:1; vertical-align:middle;}
.slideBox .bd img{height:720px;}

.slideBox .prev,.slideBox .next{ position:absolute; left:19%; top:50%; margin-top:-21px; display:block; width:30px; height:53px; background:url(../images/slidearrow.png) 0 0 no-repeat; /*filter:alpha(opacity=50);opacity:0.5;*/z-index: 10;   }
.slideBox .next{ left:auto; right:19%; background-position:-31px 0; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=50);opacity:0.5;  }
.slideBox .prevStop{ display:none; }
.slideBox .nextStop{ display:none; }

/*首页 main*/
.main{position:relative;width:1096px;height:526px;margin:0 auto;padding-top:30px;}
.main .main_l{width:215px;border: 1px solid #e2e2e2;float:left;}
.main .main_l h2{height:48px;background:#d6c169;font-size:22px;color:#fff;font-weight:normal;padding:5px 12px;}
.main .main_l h2 span{display:block;font-size:14px;letter-spacing:2px;color:#e9deab;margin-top:6px;}
.main .main_l ul{height:10px;margin:10px;}
.main .main_r{width:860px;float:right;}
.main .main_r .main_rt{width:859px;height:44px;border:1px solid #ececec;float:right;}
.main .main_r .main_rt i{display:block;float:left;width:44px;height:44px;background:url('../images/locico.jpg') center center no-repeat;border-right:1px solid #ececec}
.main .main_r .main_rt p,.main .main_r .main_rt p a{line-height:44px;text-indent:12px;color:#8f8f8f;}
.main .main_r .main_rt p a:hover{text-decoration:underline;color:#d6c169;}
.main .main_r img{position:absolute;top:100px;right:0;}
/*首页底部*/ 
footer{width:100%;height:275px;background:#000;border:1px solid #000;}
footer .bbox {width:990px;height:210px;margin:0 auto;}
footer .bbox .map{width:756px;height:100%;margin-top:26px;float:left;}
footer .bbox .map dl{color:#fff;float:left;}
footer .bbox .map dl dt{font-size:14px;height:30px;width:108px;}
footer .bbox .map dl dd{font-size:12px;margin-top:10px;color:#c8c8c8;}
footer .bbox .weixin{width:224px;height:209px;px;border-left:1px solid #666;float:right;margin-top:26px;float:left;}
footer .bbox .weixin ul li{float:left;color:#fff;}
footer .bbox .weixin ul li img{margin-left:20px;display:inline-block;}
footer .bbox .weixin ul li h2{font-size:12px;font-weight:normal;color:#c8c8c8;margin-left:28px;}
footer .foot{width:100%;border-top:1px solid #666;margin-top:24px;}
footer .foot .copyright{width:990px;margin:0 auto;}
footer .foot .copyright p,footer .foot .copyright span a{color:#c8c8c8;float:left;line-height:40px;font-size:12px;}
footer .foot .copyright span a{float:right;margin-right:10px;}
footer .foot .copyright span a:hover{text-decoration:underline;color:#ccb144;}