body,div,html,h1,h2,h3,h4,h5,h6,p,span,a,input,label{margin:0;padding:0;}
body{font-family:"Î¢ÈíÑÅºÚ";font-size:12px;}
ul,li,ol{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
.fl{float:left;}
a{text-decoration:none;}