.top{width: 100%;height: 1.28rem;background: #eee;line-height: 1.28rem;text-align: center;color: white;font-size: 0.65rem;
font-weight: bold;font-family: Helvetica,STHeiti STXihei,Microsoft JhengHei,Microsoft YaHei,Tohoma,Arial;color:#666;}
.top a{height: 1.28rem;width: 1.7rem;}
.top a i.trans{transform:rotate(90deg);}
.top a i{display: inline-block;color: white;font-size: 0.7rem;color:#666;}

/*输入框*/
.denglu{width: 92%;height: 12.86rem;margin: 0 auto;margin-top: 0.64rem;margin-bottom: 0.64rem;}
.denglu h3{width: 100%;height:1.28rem;font-weight: lighter;font-size: 0.65rem;line-height: 1.28rem;color: #666;margin-bottom: 0.7rem;}
.denglu ul li.usename{width: 93%;height: 2rem;border: 0.02rem solid rgb(204, 204, 204);background: url(../images/yonghu.png) no-repeat 0.3rem center;
line-height: 2rem;border-radius: 0.16rem;color: #999;margin: 0 auto 0.8rem;background-size: 1rem 1rem;}
.denglu ul li.usename input{width:85%;height: 1.28rem;padding-left: 1rem;font-size: 0.65rem;margin-left: 5%;margin-left: 1.5rem;}

.denglu ul li.keyword{width: 93%;height: 1.8rem;border: 0.02rem solid rgb(204, 204, 204);line-height: 1.8rem;border-radius: 0.16rem;background: url(../images/suo.png) no-repeat 0.3rem center;
color: #999;margin:0 auto 0.8rem;background-size: 1rem 1rem;}
.denglu ul li.keyword input.yanzheng2{width:50%;height: 1.28rem;padding-left: 0.8rem;font-size: 0.65rem;margin-left: 1.5rem;}
.denglu ul li.keyword input.yanzheng3{font-size: 0.5rem;margin: 0.3rem 0.4rem 0 0;padding: 0.2rem 0.3rem;color: white;border-radius: 0.2rem;}


.denglu ul li.liji{width: 100%;height: 2rem;color: #999;}
.denglu ul li.liji input{width:40%;height: 1.4rem;background:#ff8f09;border-radius: 0.16rem;line-height: 1.4rem;color: white;font-size: 0.72rem;margin: 0 auto;display: block;}

.denglu ul li.zhuche{width: 100%;height: 2rem;line-height: 2rem;}
.denglu ul li.zhuche a{font-size: 0.6rem;font-family: Microsoft YaHei;text-decoration: underline;}