@charset "utf-8";
/* CSS Document */

*{ margin:0px; padding:0px;}
/*头部*/
header { width:100%; height:720px; position:relative;}
header .top{ width:100%; height:97px; background-color:rgba(0,0,0,0.5); position:absolute; z-index:999;}
header .top .top01{ width:1100px; margin:0 auto; background-color:rgba(255,0,255,1); }
header .top .top01 h1 { line-height:97px; float:left; padding-right:100px;}
header .top .top01 nav ul{ width:720px; height:97px; float:left; line-height:97px;}
header .top .top01 nav ul li { width:90px; float:left; color:rgba(255,255,255,1); list-style:none;}
header .top .top01 nav ul li a{ color:rgba(255,255,255,1); text-decoration: none;}
header .top .top01 nav ul li a:hover { color:#ccb144;}
header .top .ss{ line-height:117px; float:left;}
 .banner {  width:100%; height:720px; position:relative; }
.banner .banner01 { width:100%; height:720px; background:url(../2.jpg) no-repeat center top;}
.banner .zb,.banner .yb{ display: inline-block; position:absolute;}
.banner .yb {top:30px; right:0;}
.banner .zb {top:30px; left:0;}
/*主体顶部*/
.section {width:1100px;height:870px; margin:0 auto; margin-top:30px;position:relative;}
.section .section-01 { width:213px; height:243px; float:left; border:1px solid #8c8c8c;}
.section .section-01 h2 {background:#cccc66; padding-left:15px;}
.section .section-01 p {background:#cccc66; width:93%;padding-left:7%;}
.section .section-01 img { float:left; margin:0 20px; margin-top:8px;}
.section .section-01 p {  float:left;}
.section .section-01 ul {width:210px; height:183px; padding-top:20px;}
.section .section-01 ul li { list-style:none; width:205px; height:14px;padding:10px 0; border-bottom:1px solid gray;}
.section .section-01 a{ font-family:"黑体"; font-size:16px; float:left; text-decoration:none; width:780px; height:100px; padding-top:30px; padding-left:35px; color:#6c6668;}
/*主体中部*/
.section .section-02 {float:left; width:854px;}
.section .section-02-s{ width:670px;  height:25px; float:left;}
.section .section-02-s img { margin-left:15px; float:left; margin-right:18px;}
.section .section-02-s ul {  margin-left:2px; float:right; width:372px; height:175px; margin-top:4px; border-left:1px solid rgba(51,51,51,0.3); }
.section .section-02-s ul li { margin-left:16px; font-family:"宋体"; font-size:12px; line-height:17px; list-style:none; border-bottom:1px dashed #CCCCCC; }
.section .section-02-s ul li a{ color:#676767; text-decoration:none;}
.section-02-x { width:875px; height:804px; margin-top:30px;}
.section-02-x img {width:150px; height:136px; float:left;}
.section-02-x ul { width:860px; height:35px; float:right; list-style:none; }
.section-02-x ul li { float:left; padding-right:10px;margin-top:15px; } 
.section-02-x ul li a { float:left;}
.section-02-x ul li p {width:860px; height:30px;}
.section-02-x ul li p b {width:350px; display:inline-block; float:left;}
.section-02-x ul li p span {width:160px; float:right;}
.section-02-x ul li i {width:680px; height:60px;font-style:normal;}
/*主体底部*/
.section .section-03 { width:750px; height:30px;position:absolute; bottom:30px; left:25%;}
.section .section-03 ul { width:100%; height:100%;}
.section .section-03 ul li {float:left; list-style:none;color:gray;}
.section .section-03 ul li a {color:gray; text-decoration:none; margin-left:10px;}
/*底部*/
.foot { width:100%; height:300px;  padding-top:20px; position:absolute;}
/*底部第一部分*/
.foot .foot-01 { width:987px; height:164px; margin:0 auto; border-bottom:1px solid rgba(51,51,51,0.2);}
/*底部第一部分左边*/
.foot .foot-01 .foot-01-l{ float:left; width:660px;}
.foot .foot-01 .foot-01-l dl{ width:82px; float:left; margin-top:37px;}
.foot .foot-01 .foot-01-l dl dt{  width:115px;font-size:14px; float:left;}
.foot .foot-01 .foot-01-l dl dd a { width:115px;font-size:12px; float:left; line-height:20px; color:#c8c8c8; text-decoration:none;}
/*底部第一部分右边*/
.foot .foot-01-r { width:322px; height:140px; border-left:1px solid rgba(204,204,204,1); float:left; margin-top:25px;}
.foot .foot-01-r ul li { width:64px;list-style:none;float:left; padding-left:28px;}
.foot .foot-01-r ul li h2{ font-family:"微软雅黑"; font-size:12px; color:#4f4f4f; text-indent:0.3em;}
/*底部第二部分*/
.foot .foot-02 { width:985px; height:64px; border-bottom:3px solid rgba(255,255,255,1); margin:0 auto; margin-top:14px;}
.foot .foot-02-a { width:985px; margin:0 auto;}
.foot .foot-02-a p a{ width:55px; height:11px;float:right; white-space:nowrap; font-size:12px; font-family:"微软雅黑"; text-decoration:none; color:#cccccc;}

